<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona o mamie</title>
</head>
<body>
<h1 Oglaszamy wyniki Duzego Lotka! 31.10.2017 />

<p>
    th:="number : ${zbior}" th:text="${number.getNumber()}"

</p>
<img src="http://p1.wawalove.pl/p1.wawalove.pl/2ac49e372d62b7bfbb1acace354919d0.jpg">

</body>
</html>